@import "../../common/style";

.components-dropdown-button {
	padding: 3px;
	display: flex;

	&__popover {
		.components-popover__content {
			min-width: 200px;
			padding: 10px;
		}
	}

	&__toggle {
		width: auto;
		margin: 0;
		padding: 4px;
		border: $border-width solid transparent;
		display: flex;
		flex-direction: row;

		&.is-active,
		&.is-active:hover {
			box-shadow: none;
			background-color: $dark-gray-500;
			color: $white;
		}

		&:focus::before {
			top: -3px;
			right: -3px;
			bottom: -3px;
			left: -3px;
		}

		&:hover,
		&:focus,
		&:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
			@include formatting-button-style__hover();
		}
	}

	&__indicator::after {
		@include dropdown-arrow();
	}

	&__has-property- {
		&color .dashicon {
			color: $toolbar-color;
		}

		&background-color .dashicon {
			background-color: $toolbar-background-color;
		}
	}
}

#editor.block-editor__container {
	.components-popover.components-color-palette__picker,
	.components-font-size-picker__dropdown-content {
		z-index: 1000001;
	}
}

.components-popover {
	&__content {
		&__dropdown-tooltip {
			color: black;
			background-color: white;
			font-size: 1em !important;
			line-height: 1.5em;
			display: flex !important;
			background-position: left -100% bottom -40% !important;
			background-size: 200% 1em !important;
			padding: 2px !important;
		}
	}
}
